.watch-now {
  display: block;
  padding: 5px 15px;
  font-size: 2em;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.details p {
  min-height: 40px;
  margin-bottom: 1em;
}

.details {
  padding: 0 2em;
  /* flex-basis: 350px;
  flex-shrink: 0; */
}
