body {
  background-color: black;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-display {
  display: flex;
  justify-content: space-between;
  /* flex-basis: 1fr; */
  gap: 1em;
  /* max-width: 700px; */
  /* width: 80%; */
  max-width: 1000px;
}

.roster {
  padding: 0 2em;
}

.details {
  padding: 0 2em;
}
